.article {
	font-size: 15px;
	border-bottom: 2px solid #000;
}

.article_left {
	width: 150px;
	float: left;
}

.article_right {
	margin-left: 150px;
}

.a_user, .a_date {
	float: left;
	padding: 5px;
}

.a_title, .a_text {
	padding: 5px;
}
