#login {
	font-size: .8em;
	height: 25px;
	padding-left: 15%;
	padding-right: 15%;
	background-color: #6474AE;
	min-width: 550px;
}

#login label {
	
	width: 200px;
}

#login input {
	width: 150px;
	font-size: .8em;
}

#login input[type=submit] {
	width: 50px;
	
}

#logout{
	padding: 2px;
}

#login a {
	margin-left: 25px;
	text-decoration: underline;
}

#login a:hover {
	font-weight: 700;
}


