#newThread {
	font-size: 22px;
}

#newThread input[type=text] {
	width: 500px;
	margin: 0 0 10px;
}

#newThread textarea {
	width: 500px;
	height: 300px;
	margin: 0 0 10px;
}

#newThread input[type=submit], input[type=reset] {
	width: 100px;
	margin-top: 5px;
}
