.p_label {
	float: left;
	width: 200px;
	margin-right: 30px;
	margin-top: 5px;
}

input[type=text] {
	margin-top: 5px;
	width: 200px;
}

select {
	width: 200px;
	margin: 10px 0;
}

hr {
	margin: 10px 0;
}

input[type='submit'] {
	width: 150px;
}

#p_allgemein, #p_benutzer, #p_thema {
	height: 150px;
	margin-top: 25px;
}

