.thema {
	height: 45px;
	margin-top: 15px;
	padding-top: 10px;
	border-bottom: 1px solid #000;
	font-size: 24px;
	min-width: 550px;
}

.thema_count {
	font-size: 18px !important;
}

a {
	text-decoration: none;
	color: #282F46;
	margin: 0;
	padding: 0;
}

.thema a:hover {
	font-weight: 700;
}
