/*
* Author:		Marcus Dolch
* Datum:		14.06.2013
* Version:		1.0
* Funktion:		Stylesheets 
*/

/*In dieser Datei sind alle Stylesheets die aufgesplittet waren, zusammengefasst!*/

@import "thema.css";
@import "privat.css";
@import "new.css";
@import "article.css";
@import "login.css";
@import "register.css";

* {
font-family:Verdana;
margin:0;
padding:0;
}

body {
background-color:rgba(120,132,174,0.5);
}

header {
height:100px;
width:100%;
background-color:rgba(13,23,61,0.9);
color:#FFF;
}

footer {
height:25px;
width:100%;
margin-top:25px;
text-align:center;
}

#h_name {
margin-left:15%;
font-size:48px;
width:60%;
}

#h_subname {
margin-left:15%;
font-size:24px;
width:60%;
}

#content {
margin-left:15%;
margin-top:25px;
width:70%;
min-width:250px;
font-size:14px;
}

#navi {
margin-bottom:10px;
}

#navi a {
text-decoration:underline;
}

